body {
     margin: 0 0;
     background-color: #FFF; color: #333;
}

#page{
	margin: 10px auto;
	width: 750px;
	font: 16px/1.5 Arial;
}

#content{
	margin-left:15px;
	margin-bottom: 10px;
	clear: both;
}

#footbar{
	margin: 20px 0px;
	padding: 5px 15px;
	border-top: 1px solid #999;
	font-size: 12px;
	color: #AAA;
}

/*
h1 {
   margin: 0; height: 130px;
   background: url("i/banner.gif") no-repeat; font: 36px/2.5 Georgia; font-weight: bold; text-indent: -9999px;
}
*/

h1 {
   font-size: 28px;
   line-height: 1.5;
}

h2 {
   margin-bottom: 10px;
   font: 20px/2 Times New Roman;
   font-weight: bold;
   clear: both;
}

p {
   margin: 10px 0;
}

dd {
   margin-bottom: 8px;
}

img {
    vertical-align: top;
}

a:link, a:visited {
	color: #9c0; text-decoration: none;
}

a:hover {
	color: #9c0; text-decoration: underline;
}

ul.pub {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pub li {
}

.pub span {
    margin: 5px 0;
    display: block;
    float: left;
    width: 590px;
    margin-left: 20px;
}

.pub img {
    margin: 10px 0;
    display: block;
    float: left;
    clear: both;
    width: 120px;
    box-shadow: 0px 0px 8px #666;
}

.pub div.imgholder {
    margin: 5px 0;
    float: left;
    margin-right : 20px;
    width: 120px;
    height: 120px;
}

img#profile_img {
    display:block;
    float: left;
    align:left;
    margin: 0 20px 10px 10px;
    box-shadow: 4px 4px 10px #666;
    height: 400px;
}

div#whoami {
    float: left;
    margin-left: 20px;
    width: 366px;
}
